@model final01._03._2021.Models.sati1
@{
    ViewBag.Title = "cart";

}














<div id="xm">
    <div class="container">
        <div class="cy p-4">
            <h1>Mehsul haqqinda melumat</h1>

        </div>

        <div class="wl navbar">





            <img height="300vh" src="@Model.photourl" alt="">
            <div class="b3">
                <h4>MARKA</h4>
                <h5>@Model.soz1</h5>
                <h4>QIYMET</h4>
                <h6>@Model.qiymet</h6>
                <h4>HAQQINDA</h4>
                <h2>@Model.haqqinda8</h2>
            </div>
        </div>
    </div>


    <div class="z5">
        <h5>AD SOYAD</h5>
        <input type="text">
        <h5>unvan</h5>
        <input type="text">
        <h5>MOBIL NOMRE</h5>
        <input type="text">
        <h5>ETRAFLI MELUMA</h5>


        <input type="text" placeholder="HANSI METROLARA CATDIRILMASINI ISDEYIRSIZ">
        <br>
        <br>

        <br>
        <button>OK</button>
        <br>
        <br>

        <br>
    </div>






</div>















































