<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/newfinal/css/style.css">
    <link rel="stylesheet" href="~/newfinal/boostrap/bootstrap.css">
    <link rel="stylesheet" href="~/newfinal/vendros/slick.css">
    <link rel="stylesheet" href="~/newfinal/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>

<body>


    <div id="a1">
        <div class="a2 navbar">
            <p> OUR PHONE NUMBER: +77 (756) 334 876	</p>
            <p class="a3"> my account CART OUR LOCATION CONTACT US</p>






        </div>
    </div>

















    @RenderBody()





    <script src="~/newfinal/vendros/jquery-3.4.1.js"></script>
    <script src="~/newfinal/~/newfinal/vendros/popper.min.js"></script>
    <script src="~/newfinal/javascript/app.js"></script>
    <script src="~/newfinal/vendros/bootstrap.min.js"></script>

</body>

</html>



