@model IEnumerable<final01._03._2021.Models.login>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <div class="container">

        <div class="ss1" style="margin-top: 10vh;" 30vh;">
            <h1 style="text-align: center;"> QEYDIYATDAN KECDIZ</h1>



        </div>


    </div>



</table>
